In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [3]:
#spark session
spark = SparkSession.builder.appName('firstSession') \
    .config('spark.master','local[4]') \
    .config('spark.shuffle.sql.partitions', 1) \
    .getOrCreate()

In [4]:
spark

In [5]:
spark.conf.get('spark.shuffle.sql.partitions')

'1'

## Crear tabla

In [6]:
columnas = ['id', 'nombre', 'x']

In [8]:
lista = [
    (1,2,3),
    (4,5,6),
    (7,8,9)
]
lista

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [9]:
df1 = spark.createDataFrame(lista, schema=columnas)

In [10]:
df1.count()

3

In [11]:
df1.show()

+---+------+---+
| id|nombre|  x|
+---+------+---+
|  1|     2|  3|
|  4|     5|  6|
|  7|     8|  9|
+---+------+---+

In [12]:
df1.columns

['id', 'nombre', 'x']

In [13]:
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- nombre: long (nullable = true)
 |-- x: long (nullable = true)

In [15]:
df1.describe().show()

+-------+---+------+---+
|summary| id|nombre|  x|
+-------+---+------+---+
|  count|  3|     3|  3|
|   mean|4.0|   5.0|6.0|
| stddev|3.0|   3.0|3.0|
|    min|  1|     2|  3|
|    max|  7|     8|  9|
+-------+---+------+---+

## A partir de un csv

In [16]:
csv = spark.read.csv('../files/paises.csv', sep=',', header=True)

In [18]:
csv.count()

1184

In [19]:
csv.show(5)

+---+--------------------+-----+
| id|              equipo|sigla|
+---+--------------------+-----+
|  1|         30. Februar|  AUT|
|  2|A North American ...|  MEX|
|  3|           Acipactli|  MEX|
|  4|             Acturus|  ARG|
|  5|         Afghanistan|  AFG|
+---+--------------------+-----+
only showing top 5 rows

In [20]:
csv.printSchema()

root
 |-- id: string (nullable = true)
 |-- equipo: string (nullable = true)
 |-- sigla: string (nullable = true)

In [21]:
spark.stop()